[bumpversion]
current_version = 1.5.3
tag = False
commit = True
message = Bump version: {current_version} to {new_version}

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}
